{% extends 'base.html.twig' %}

{% block body %}
<h1>Contact</h1>
{{ form_start(formContact)}}
{{form_row(formContact.firsname, {'attr': {'placeholder':"Prénom"}})}}
{{form_row(formContact.lastname, {'attr': {'placeholder':"Nom"}})}}
{{form_row(formContact.phone, {'attr': {'placeholder':"Numéro de téléphone"}})}}
{{form_row(formContact.email, {'attr': {'placeholder':"email"}})}}
{{form_row(formContact.message, {'attr': {'placeholder':"message"}})}}
{% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
<button type="submit" class="btn btn-primary">Envoyer le message</button>
{{ form_end(formContact)}}
{% endblock %}
