{% extends 'base.html.twig' %}

{% block body %}
<h1>Dernieres annonces !</h1>
{% for bien in biens %}
    <a href="{{path('bien_show', {'reference': bien.reference})}}">
        <h2>{{bien.titre}}</h2>
        <div class="metadata">
        {{bien.prix}} {{bien.type.label}}
        </div>
        <div>
        {{bien.description}}
        </div>
    </a>
{% endfor %}

{% endblock %}
